.form-control-feedback {
    left: 5px;
}
.form-control {
    padding-left: 35px!important;
}
.list-group-item {
    display: block;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 0!important;
}
.jp-comment-top {
    background-color: white;
    display: inline-block;
    padding-right: 3px;
    width: auto;
    height: 60px;
    position: relative;
    top: -38px;
}
.jp-comment-top a {
    text-decoration: none;
}
.jp-avator {
    display: inline-block;
    width: 50px;
    height: 50px;
}
.jp-name {
    font-size: 1.2em;
    margin-left: 5px;
    color: gray;
}
.jp-date {
    display: inline;
    line-height: 60px;
    font-size: 1em;
    margin-left: 8px;
    color: lightgray;
}
.jp-content {
    display: block;
    position: relative;
    top: -35px;
    font-size: 1.5em;
    padding-left: 45px;
}
